
.nhl-player-page-container{
height: 100%;
background: radial-gradient(163.19% 93.36% at 50% 46.95%, #28282C 0%, #1A1A1D 34.38%, #2C2C30 61.98%, #1A1A1D 100%);
    .nhl-players-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        button{
            border: none;
            background-color: hsla(0, 0%, 67%, 0.548);
            border-radius: 5px;
            &:hover{
                background-color: hsla(0, 0%, 81%, 0.582);
            }
        }

        h3, h2, h4{
            margin: 0;
            font-size: 14px;
        }

        .MuiFormControl-root{
            margin: 0 !important;
            margin-top: 10px !important;
        }
        .player-picture{
            width: 100%;
            display: grid;
            place-items: center;
            img{
                max-width: 150px;
                border-radius: 50%;
            }
        }

        .nhl-player-search{
            padding: 0px;
            padding-bottom: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 40rem;
            .player-each-search{
                display: grid;
                place-items: center;
            }
        }
        
        .player-filter{
            display:grid;
            place-items: center;
        }
        
        .nhl-player-stats{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            max-width: 40rem;

            .each-player-stats{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    font-size: calc(1vw + .5rem);
                }
            }
        }

        .btn-filters{
           width: 100%; 
        }
        
    }
}

.player-stat-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    td{
        padding: 1px;
        margin: 0;
        font-size: calc(1vw + .5rem);
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .player-cell-even{
        background-color: rgba(255, 255, 255, 0.582);
    }
    .player-cell-odd{
        background-color: rgba(226, 226, 226, 0.37);
    }
}