.nhl-main-container{
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(163.19% 93.36% at 50% 46.95%, #28282C 0%, #1A1A1D 34.38%, #2C2C30 61.98%, #1A1A1D 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-flow: column;
    .nhl-title{
        width: 100%;
        text-align: center;
        margin: 1rem 0 1rem 0;
        font-size: 3rem;
        color: hsl(47, 100%, 50%);
        font-family: "Viga", Times, serif;
    }
    .nhl-compare-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        .nhl-compare-link-container{
            background-color: rgb(255, 0, 0);
            .nhl-link-container{
                padding: 2rem 10rem 2rem 10rem;
                margin: 1rem;
                background-color:rgba(0, 0, 255, 0.249);
                a{
                    text-decoration: inherit;
                    color: inherit;
                    div{
                        font-size: 1rem;
                        color: hsl(47, 100%, 50%);
                        font-family: "Viga", Times, serif;
                        width: 100%;
                        text-align: center;
                        color:black;
                    }
                    }
            }
        }
    }
}