.landing-page-container {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(
    163.19% 93.36% at 50% 46.95%,
    #28282c 0%,
    #1a1a1d 34.38%,
    #2c2c30 61.98%,
    #1a1a1d 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  .Landing-Page-Title {
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 #000;
    width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 3rem;
    color: hsl(47, 100%, 50%);
    font-family: 'Viga', Times, serif;
  }
  .landing-page-sports-container {
    overflow-y: auto;
    overflow-x: hidden;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 1rem;

    .landing-page-sport-logo {
      padding: 5px;
      border-radius: 5px;
      display: grid;
      place-items: center;
      transition: 0.5s;
      &:hover {
        transform: scale(2);
        z-index: 100;
      }
      img {
        cursor: pointer;
        filter: grayscale(100%);
        max-width: 200px;
        max-height: 200px;
        margin: 0;
        transition: 0.5s;
      }
    }
  }
}
.Landing-Page-Title--about {
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 10px;
  color: hsl(47, 100%, 50%);
}

.aboutButton {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 #000;
  background: none;
  border: none;
  border-radius: 5px;
  color: hsl(47, 100%, 50%);
  font-family: 'Viga', Times, serif;
  font-size: 20px;
  text-align: center;
  &:hover {
    background-color: rgb(141, 139, 139);
  }
}

.coming-soon {
  position: relative;
  &:before {
    display: grid;
    place-items: center;
    position: absolute;
    color: red;
    text-align: center;
    pointer-events: none;
    content: 'Coming Soon';
    font-weight: bold;
    font-size: 30px;
    font-family: 'Viga', Times, serif;
    transform: rotate(-45deg);
    z-index: 10;
    width: 250%;
    height: 100%;
  }
}
