@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Main{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.root{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}